<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048136292259-0fd92oln9nn3tckgnslv3ge449scqqph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048136292259-0fd92oln9nn3tckgnslv3ge449scqqph</string>
	<key>API_KEY</key>
	<string>AIzaSyAHdR3PWJzK_ITUuMGvhdfVT5z70BTZ-WA</string>
	<key>GCM_SENDER_ID</key>
	<string>1048136292259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaelp.Flash-Chat-Personal-IOS</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-personal-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-personal-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048136292259:ios:743e7c2f6b94fd0b00ac16</string>
</dict>
</plist>